<mat-card class="p-0 mr-1 mt-1 mb-1 scrollable-content" fxFlex fxLayout="column">
    <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="mt-1 text-center" fxLayout="column" fxLayoutAlign="center stretch">
                Chat Room
                <p>[{{roomDetails['room']}}]</p>
                <button type="button" (click)="leaveRoom()" mat-raised-button color="accent"><p class="text-center">Leave room</p></button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="ml-1 mr-1" fxFlex>
        <p *ngFor="let i of messages">
            [{{i['ts']}}] <strong *ngIf="i['from'] == 'Server'">{{i['from']}}</strong>{{i['from'] != "Server" ? i['from'] : ""}} : {{i['message']}}
        </p>
    </mat-card-content>
    <form [formGroup]="form" fxLayout="column" class="ml-1 mr-1 mb-1" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="legacy"> <!-- Message Input -->
            <input type="text" matInput formControlName="message" placeholder="Your message">
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" 
            [disabled]="form.invalid">Send Message
        </button>
    </form>
</mat-card>